torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0

# core libs
opencv-python
moviepy
librosa
soundfile
numpy
pillow
scipy
accelerate
transformers
diffusers
easydict

# extra for InfiniteTalk
xformers
ninja
psutil
packaging
