torch==2.1.2
torchvision==0.16.2
transformers==4.36.2
diffusers==0.24.0
huggingface_hub==0.14.1
accelerate==0.21.0
safetensors==0.4.2
einops==0.6.1

# optional speed-up
xformers==0.0.23
ninja==1.11.1
flash-attn==2.5.6
