torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
xformers==0.0.28
flash-attn==2.7.4.post1
ninja
psutil
packaging
moviepy
librosa
soundfile
numpy
pillow
scipy
accelerate
transformers
diffusers
easydict
